.feature-item {
  display: inline-flex; 
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30%;
  box-sizing: border-box;
  margin: 0 1rem; 
  vertical-align: top; 
}


.feature-item-icon {
  width: 100px;
  border-width: 10px;
  border-style: solid;
  border-image: initial;
  padding: 1rem;
  background-color:white;
  border-radius: 50%;
  border-color: rgb(0, 188, 119);
}

.feature-item-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

p{
  font-family: Arial, Helvetica, sans-serif;
}